.header {
  padding: 1rem 2rem;
  background-color: var(--color-primary);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 3rem;
  font-weight: 700;
}

.login-info {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.user-name {
  font-size: 2rem;
}

.logout-btn {
  font-size: 2.5rem;
  font-weight: 700;
  background-color: #fff;
  color: orangered;
}

.logout-btn:hover {
  background-color: orangered;
  color: #fff;
}
