.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 2;
}

.edit-todo-form {
  position: fixed;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  display: flex;
  gap: 2rem;
  padding: 2rem 4rem;
  background-color: #fff;
  box-shadow: 4px 4px 0px var(--color-primary);
  z-index: 3;
  transition: all 0.5s ease-out;
}

.showEditForm {
  animation: showEditForm 0.5s ease-out forwards;
}

@keyframes showEditForm {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(-50%);
  }
}

.hideEditForm {
  animation: hideEditForm 1s ease-out forwards;
}

@keyframes hideEditForm {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.label-wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.label {
  font-size: 1.8rem;
  font-weight: 700;
}

.input {
  padding: 1rem;
  font-size: 1.6rem;
  border: 1px solid var(--color-primary);
}

.input:focus {
  outline: none;
  border: 1px solid #000;
}

.buttons-wrap {
  display: flex;
  gap: 1rem;
}

.save-btn {
  border: 1px solid var(--color-primary);
  background-color: #fff;
  color: var(--color-primary);
  font-size: 2.5rem;
  font-weight: 700;
}

.save-btn:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.save-btn:focus {
  outline: 1px solid var(--color-primary);
}

.cancel-btn {
  border: 1px solid orangered;
  background-color: #fff;
  color: orangered;
  font-size: 2.5rem;
  font-weight: 700;
}

.cancel-btn:hover {
  background-color: orangered;
  color: #fff;
}

.cancel-btn:focus {
  outline: 1px solid orangered;
}
