.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  width: 60rem;
  border: 1px solid var(--color-primary);
  transition: all 0.5s ease-out;
}

.title {
  font-size: 2rem;
  font-weight: 500;
}

.buttons-wrap {
  display: flex;
  gap: 1rem;
}

.edit-btn {
  border: 1px solid var(--color-primary);
  background-color: #fff;
  color: var(--color-primary);
  font-size: 2.5rem;
  font-weight: 700;
}

.edit-btn:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.edit-btn:focus {
  outline: 1px solid var(--color-primary);
}

.remove-btn {
  border: 1px solid orangered;
  background-color: #fff;
  color: orangered;
  font-size: 2.5rem;
  font-weight: 700;
}

.remove-btn:hover {
  background-color: orangered;
  color: #fff;
}

.remove-btn:focus {
  outline: 1px solid orangered;
}

/* 800px = 50em */
@media (max-width: 50em) {
  .todo {
    width: 45rem;
  }

  .title {
    font-size: 1.8rem;
  }

  .edit-btn,
  .remove-btn {
    font-size: 1.8rem;
  }
}

/* 600px = 37.5em */
@media (max-width: 37.5em) {
  .todo {
    flex-direction: column;
    width: 30rem;
  }

  .edit-btn,
  .remove-btn {
    padding: 0.5rem 2rem;
  }
}
