.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  width: 40vw;
  border: 1px solid var(--color-primary);
}

.title {
  font-size: 2rem;
}

.remove-btn {
  border: 1px solid orangered;
  background-color: #fff;
  color: orangered;

  font-size: 1.6rem;
  font-weight: 700;
}

.remove-btn:hover {
  background-color: orangered;
  color: #fff;
}
