.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  width: 40vw;
  border: 1px solid var(--color-primary);
  transition: all 0.5s;
}

.title {
  font-size: 2rem;
  font-weight: 500;
}

.buttons-wrap {
  display: flex;
  gap: 1rem;
}

.edit-btn {
  border: 1px solid var(--color-primary);
  background-color: #fff;
  color: var(--color-primary);
  font-size: 1.6rem;
  font-weight: 700;
}

.edit-btn:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.edit-btn:focus {
  outline: 1px solid var(--color-primary);
}

.remove-btn {
  border: 1px solid orangered;
  background-color: #fff;
  color: orangered;
  font-size: 1.6rem;
  font-weight: 700;
}

.remove-btn:hover {
  background-color: orangered;
  color: #fff;
}

.remove-btn:focus {
  outline: 1px solid orangered;
}
