.form,
.label-wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form {
  padding: 1rem 2rem;
  background-color: var(--color-primary);
}

.label {
  font-size: 2rem;
}

.input {
  padding: 1rem;
  font-size: 1.6rem;
  border: 1px solid transparent;
}

.input:focus {
  outline: none;
  border: 1px solid #000;
}

.add-todo-btn {
  font-size: 1.6rem;
  font-weight: 700;
  background-color: #fff;
}

.add-todo-btn:hover {
  color: var(--color-primary);
}
