.form,
.label-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-wrap {
  gap: 1rem;
}

.form {
  padding: 2rem 7rem;
  border: 1px solid var(--color-primary);
  box-shadow: 4px 4px var(--color-primary);
  width: 70rem;
}

.form {
  gap: 2rem;
}

.label {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-primary);
}

.input {
  padding: 1rem;
  font-size: 2rem;
  border: 1px solid var(--color-primary);
}

.input:focus {
  outline: none;
  border: 1px solid #000;
}

.invalid {
  border: 1px solid red;
  background-color: pink;
}

.add-todo-btn {
  font-size: 2.5rem;
  font-weight: 700;
  background-color: #fff;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.add-todo-btn:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.add-todo-btn:focus {
  outline: 1px solid var(--color-primary);
}

.add-todo-btn-text {
  display: none;
}

/* 800px = 50em */
@media (max-width: 50em) {
  .form {
    width: 50rem;
  }

  .label,
  .add-todo-btn {
    font-size: 2rem;
  }

  .input {
    padding: 0.8rem;
  }
}

/* 600px = 37.5em */
@media (max-width: 37.5em) {
  .form {
    flex-direction: column;
    width: 30rem;
    padding: 1rem;
  }

  .label-wrap {
    flex-direction: column;
    width: 100%;
  }

  .label {
    font-size: 2.5rem;
  }

  .input {
    width: 90%;
  }

  .add-todo-btn {
    font-size: 2rem;
    padding: 1rem 3rem;
  }

  .add-todo-btn svg {
    display: none;
  }

  .add-todo-btn-text {
    display: block;
  }
}
